* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

header {
  text-align: center;
  font-size: large;
}

.map-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  
  div{
  height: 4rem;
  padding: 0.5rem 3rem;
  font-size: 2.5rem;
  border-radius: 999px;
  background-color: rgba(149, 27, 27, 0.657);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 8px #888888;
  }
}

.map-container {
  margin: 10px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  border-radius: 10px;
}

#map {
  margin: auto;
  border-radius: 10px;
  width: 80%;
  height: 600px;
  z-index: 1;
}

#chart {
  margin: auto;
  width: 80%;
  margin-bottom: 100px;
  z-index: 1;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  // border-top: #c6e09b 5px solid;
  color: #fff;
  font-size: 18px;
  background-color: #0079a5;
  padding: 25px;
  text-align: right;
  z-index: 999;
}

#btnToTop {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0079a5;
  color: #fff;
  cursor: pointer;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
