
<section class='map-section'>

<div class="section-title">
  <div>Covid19 Confirmed Cases - Brazil</div>
</div>

  <div id="map-holder">
    <div id="date-selector">
      <input type="radio" name="drone" value="0" (click)="changeImgDate(0)"> Jan
      <input type="radio" name="drone" value="1" (click)="changeImgDate(1)"> Feb
      <input type="radio" name="drone" value="2" (click)="changeImgDate(2)"> Mar
      <input type="radio" name="drone" value="3" checked='true' (click)="changeImgDate(3)"> Apr
    </div>
  </div>

  <div id="map"></div>
  <i class='updated-date'>Updated at: 31/05/2020</i>

<div class="section-title">
  <div>Covid19 Impacts on Region - São Paulo, Brazil</div>
</div>

<div id="chart">
  <canvas id="canvas">{{ chart }}</canvas>
  <p style='float:right'>*The baseline is the median value, for the corresponding day of the week,
     during the 5-week period Jan 3–Feb 6, 2020.</p>
  <p> Source :
     <a href="https://www.google.com/covid19/mobility/" target="_blank">Google : Covid19 Community Mobility Reports</a></p>
</div>

<div id="chart">
  <canvas id="canvas2">{{ chart2 }}</canvas>
  <p>Sources:
    <a href="https://developers.google.com/earth-engine/datasets/catalog/sentinel-5p">
      Sentinel 5
    </a>
    <a href="https://developers.google.com/earth-engine/datasets/catalog/COPERNICUS_S2_SR">
    Sentinel 2
    </a> 
    <a href="https://developers.google.com/earth-engine/datasets/catalog/MODIS_006_MOD11A1">
      MODIS
    </a>
    </p>
</div>

<div id="chart">
  <canvas id="canvas3">{{ chart3 }}</canvas>
  <p>Source : <a href="https://www.bcb.gov.br/acessoinformacao/dadosabertos">Central Bank (Brazil)</a></p>
</div>

</section>

<footer>
  <button id="btnToTop" style="display: block;" (click)="toTop()">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up"
         class="svg-inline--fa fa-chevron-up fa-w-14 fa-lg " role="img" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 448 512">
      <path fill="currentColor"
            d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path>
    </svg>
  </button>
  Repository: <a href="https://github.com/antonio-leblanc/spaceappschallenge">Github</a>
</footer>
